<div class="page-header">
<h1>Welcome to One month Rails</h1>
<p>
	You hav found the home page for the 
<%= link_to "One month Rails", "http://onemonthrails.com" %> 
application.
</p>

<p>
	<%= link_to "Sign Up Now!","#", class: "btn btn-primary btn-large" %>
	</p>
</div>